{% extends 'layout/base.html' %}
{% load static %}



<title>{% block title%}Commun thiadiaye{%endblock%}</title>


    <header>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </header>

    <div class="body container">
    {% block body  %}
<div class="carouse">
	<div class="carousel-inner">

		<div class="carousel-item active">
			<img src="{% static '/imge/thiadiaye_commune.jpg ' %}"class="d-block w-100" style="max-height: 500px;" alt="...">

		</div>
	</div>

	<div class="info-com">
		<div class="row">
			<div class="col-sm-4 col1">
				<div class="img">
					<img src="{% static '/imge/logo.jpg'%}" alt="logo" width="300" height="300">
				</div>
				<div>

				</div>
			</div>
			<div class="col-sm-8 col2"  style="background-color:  #258baf">
				<div class="info-flottan-text" style="color: #fff">
					<div class="info-flottan-text-title">
						<h5 class="" >Commune de Thiadiaye</h5>
					</div>

					<p align="">Cette plateforme met ensemble des données clés et informations essentielles sur les différents axes prioritaires de développement au niveau de la commune de <b>thiadiaye </b> à savoir sur l education et la santé</a> </p>
				</div>

				<div class="out-indic mx-auto">
					<div class="row my-3 mx-auto">
					    <div class="col-6 col-indic"><a href="{% url 'education' %}"class="btn btn-outline-success" ><img src="{% static '/imge/education icon.png'%}" alt="logo" width="50" height="50">  Education</a></div>
						<div class="col-6 col-indic"><a href="{% url 'sante' %}"class="btn btn-outline-success" ><img src="{% static '/imge/sante icon.png'%}" alt="logo" width="50" height="50"> Sante</a></div>

					</div>
					<div class="row my-1 mx-auto">
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="shadow-lg p-3 mb-5 bg-body rounded mt-5 container">
    <div class=" px-4 my-5 row row-cols-sm-12">
        <div class="jumbotron text-center">
            <div style="display: flex; width: 100%; height: 100%; color:  #258baf">
                <h2>Commune de Thiadiaye<span> </span></h2></div></div><div class="col-sm-6">
                    <p class="para" style="font-size: 16px">
Thiadiaye est une commune du centre-ouest du Sénégal sur la RN1 Dakar-Mbour-Fatick-
Kaolack-Tambacounda en direction du Mali. Sur le plan administratif, Thiadiaye est dans la
région de Thiès, le département de Mbour et l’arrondissement de Sessène. Elle est limitée à

l’est par la commune de Tattaguine, à l’ouest, au nord et au sud par la commune de Sessène.
Thiadiaye est à la limite sud-est de la région de Thiès, presque à mi-chemin entre les villes de
Mbour (30 km à l’ouest) et de Fatick (35 km à l’est). Thiadiaye serait fondé en 1870 par
Mbakhane Diop, fils de Lat-Dior Diop, Damel du Cayar tué par les Français en 1886.
Thiadiaye devient chef-lieu de communauté rurale en polarisant vingt-deux (22) villages en
1972. En 1996, la localité accède au rang de commune, synonyme de statut urbain au
Sénégal jusqu’en 2013, sur un périmètre de 14,79 km².
La commune est peuplée de 14 976 habitants lors du recensement de la population de 2013.
Les projections de l’Agence Nationale de la Statistique et de la Démographie estiment sa
population à 19 597 individus en 2023. Le rapport de masculinité y est légèrement en faveur
des femmes, 51 contre 49 hommes. La population est majoritairement d’ethnie sérères
(55,05%), suivis des wolofs (24,49%), des pulaars (14,90%), des diolas (0,76%), des
mandingues (0,51%) et autres groupes (4,29%).
La commune de Thiadiaye est un centre administratif (Gendarmerie, Sous-préfecture, Poste,
SENEAU, SENELEC, Centre d’Appui au Développement local) et de services sociaux de base
pour son arrière-pays rural. Elle polarise les villages des communes environnantes de
Ndiaganiao, Fisselle, Sessene et Sandiara grâce à la présence d’un centre de santé, d’un
marché attractif et d’une gare routière favorisée par sa position de carrefour routier. Les
communes de Sessène et de Tattaguine qui ne disposent pas de lycées sont polarisées par
Thiadiaye au niveau du cycle secondaire. Les équipements administratifs, marchands,
sanitaires et éducatifs sont localisés au centre-est de la commune dans les quartiers de
Champ de Courses (ouest, centre et est), Escale (nord et sud), Walo et Khakham. Les
quartiers périphériques sont dépourvus de services sanitaires de proximité.
Thiadiaye, terroir au relief relativement plat (moins de 25 m d’altitude), est dans le bassin
arachidier, dans la zone soudano-sahélienne avec une végétation de type savane arborée à
arbustive. Son climat se caractérise par des températures moyennes élevées de mars à juillet
: 20-28◦C à 35-40◦C. Les moyennes annuelles des précipitations varient entre 500 et 800
mm. Le développement économique repose sur les activités de production de base
(agriculture, élevage), le commerce et l’artisanat. L’agriculture se diversifie grâce au
développement des cultures maraîchères irriguées. Le commerce, une des principales
activités économiques de la commune, tire son dynamisme de la position de carrefour de la
commune et de l’expansion urbaine. Il occupe l’essentiel des actifs de la commune grâce à la
présence de deux grands marchés, journalier et hebdomadaire.</p></div>
                        <div class="col-sm-6">
                          <img src="{% static '/imge/Localisation Thiadiaye ok.png' %}" class="" width="100%" height="100%" alt="About Images"> </div>  </div></div></div>


</div>


       
{% endblock %}
</div>

</body>
</html>